.pad-bot {
  padding-bottom: 35px !important;
}

.pad-top {
  padding-top: 41px !important;
}

.navbar {
  position: fixed;
  top: 0;
  height: auto !important;
  zIndex: 1003;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: block;
  backgroundColor: #16191f;
}

#cc {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

amplify-auth-container {
  --amplify-text-xxs: 0.9rem;
  --amplify-text-xs: 1.2rem;
  --amplify-text-sm: 1.3rem;
  --amplify-text-md: 1.3rem;
  --amplify-text-lg: 1.5rem;
}